.bannerBody {
    height: 108px;
    width: 100%;
    max-width: 100vw;
    background-color: #9cddf8;
}

.bannerHeading {
    color: white;
    font-weight: 600;
    font-size: 50px;
    text-align: center;
    padding: 20px 0; 
}
.doc-detail-para{
    width: 80% ;
}
@media (max-width:600px){

    .doc-detail-para{
        width: 100%;
    }
    .bannerHeading{
        font-size: 22px;
        padding: 40px 0;
    }
} 